

.test-section-1,
.test-section-3,
.test-section-4 {
    text-align: center;
    padding: 4rem 0;
}

.test-section-3 {
    height: 400px;
    background-color: #dde6ed;
}

.test-section-4 {
    height: 150px;
}